#create repository platform
#end repository

create repository modules
end repository

#match /trunk/(core|devtools)/
#  repository platform
#  prefix \1
#  branch master
#end match

match /trunk/
  repository modules
  branch master
end match

# either: branch svntag/foo
# or: branch refs/tags/foo; anotated true

match /tags/stable-([^/]+)/([^/]+)/
  repository modules
  branch refs/tags/\2/\1
  annotated true
  prefix \2/
end match

# SuSE-Linux-9_3-Branch
match /branches/SuSE-Linux-([^/]+)-Branch/
  repository modules
  branch \1
end match

# /tags/branch-Linux-11_4-2_20_5/storage/
match /tags/branch-Linux-([^/]+)-([^/]+)/([^/]+)/
  repository modules
  branch refs/tags/\3/\1/\2
  annotated true
  prefix \3/
end match

# SuSE-Code-11-Branch
# SuSE-Code-11-SP2-Branch
match /branches/SuSE-([^/]+)-Branch/
  repository modules
  branch \1
end match

# /tags/branch-Code-11-SP1-2_17_38_2/product-creator
match /tags/branch-([^/]+)-([^/]+)/([^/]+)/
  repository modules
  branch refs/tags/\3/\1/\2
  annotated true
  prefix \3/
end match

match /branches/tmp/(SLE-11-SP1-Stash|SLE-11-WebYaST)/
  repository modules
  branch \1
end match

# /branches/tmp/username/*
match /branches/tmp/([^/]+)/
  repository modules
  branch tmp/\1
end match

# Moblin, REFACTORING-10_3
match /branches/([^/]+)/
  repository modules
  branch \1
end match

##### Ignore everything else #####
match /
end match
